@model ExamProgram.Models.Student

<h1 class="mb-4">Yeni Şagird Əlavə Et</h1>

<form asp-action="Create">
    <div class="mb-3">
        <label for="FirstName" class="form-label">Ad:</label>
        <input type="text" class="form-control" id="FirstName" name="FirstName" required />
    </div>
    <div class="mb-3">
        <label for="LastName" class="form-label">Soyad:</label>
        <input type="text" class="form-control" id="LastName" name="LastName" required />
    </div>
    <div class="mb-3">
        <label for="Class" class="form-label">Sinif:</label>
        <input type="number" class="form-control" id="Class" name="Class" required />
    </div>
    <button type="submit" class="btn btn-success">Əlavə Et</button>
    <a href="@Url.Action("Index", "Students")" class="btn btn-secondary">Geri</a>
</form>
