@model ExamProgram.Models.Student

<h1 class="mb-4">Şagird Detayları</h1>

<div class="mb-3">
    <label><strong>Ad:</strong> @Model.FirstName</label><br />
    <label><strong>Soyad:</strong> @Model.LastName</label><br />
    <label><strong>Sinif:</strong> @Model.Class</label><br />
</div>

<a href="@Url.Action("Index", "Students")" class="btn btn-secondary">Geri</a>
