@model ExamProgram.Models.Subject

<h1 class="mb-4">Yeni Dərs Əlavə Et</h1>

<form asp-action="Create">
    <div class="mb-3">
        <label for="SubjectCode" class="form-label">Dərs Kodu:</label>
        <input type="text" class="form-control" id="SubjectCode" name="SubjectCode" required />
    </div>
    <div class="mb-3">
        <label for="SubjectName" class="form-label">Dərs Adı:</label>
        <input type="text" class="form-control" id="SubjectName" name="SubjectName" required />
    </div>
    <div class="mb-3">
        <label for="Class" class="form-label">Sinif:</label>
        <input type="number" class="form-control" id="Class" name="Class" required />
    </div>
    <div class="mb-3">
        <label for="TeacherFirstName" class="form-label">Müəllimin Adı:</label>
        <input type="text" class="form-control" id="TeacherFirstName" name="TeacherFirstName" required />
    </div>
    <div class="mb-3">
        <label for="TeacherLastName" class="form-label">Müəllimin Soyadı:</label>
        <input type="text" class="form-control" id="TeacherLastName" name="TeacherLastName" required />
    </div>
    <button type="submit" class="btn btn-success">Əlavə Et</button>
    <a href="@Url.Action("Index", "Subjects")" class="btn btn-secondary">Geri</a>
</form>
